    .table_crud{
        /* background: #000; */
        width: 100%;
        margin: 2rem;
        margin-top: 5rem;
    }
    
    
    .table-background{
        background-color: brown;
    }

    .table_setting{
        width: 10%;
    }