.signup{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(360deg, rgba(160, 53, 53, 0.8)) , url("./fonds/login5.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

.descri_log{
    color: rgb(220, 241, 185);
}

.form-control:hover{
    cursor: pointer;
    border: #05ad21 solid 2px;
    
}

.btn_signup{
    background: rgb(12, 109, 8);
    position: relative;
    border: 2px solid #2d3436;
    color: #ffffff;
    overflow: hidden;
    /* background: transparent; */
    z-index: 1;
    border-radius: 10px;
    transition: color 0.4s;
}

.btn_signup::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 100%;
    background: #05ad21;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width 0.4s ease;
}

.btn_signup:hover::before{
    width: 100%;
}

.btn_signup:hover{
    color: #ffffff;
}

.link_signup {
    color: #05ad21;
}

.link_signup:hover {
    color: #ff0707;
}